<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJET N*1</title>
    <link rel="stylesheet"href="meteo.css">
    <div class="header">
    <h1>SITUATION MÉTÉOLOGIQUE</h1>
<body></body>
</html>